body 
{
    background-color:#ff4d4d;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    color: #262626;
}

#container 
{
    width: 85%;
    margin: 20px auto;
    background-color: #333;
    border: 1px solid #ffcccc;
    padding: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
}

#header
{
    background-color: #262626;
    text-align: center;
    padding: 15px;
    border: 1px solid #555;
}

    #header h1
    {
        color: white;
        font-weight: bold;
        margin: 0;
        letter-spacing: 1px;
    }

    #header p
    {
        color:rgba(255, 0, 0, 0.2);
        font-style: italic;
        margin: 5px 0 0;
    }

#sidebar
{
    width: 22%;
    float: left;
    background-color: #333;
    padding: 15px;
    border: 1px solid #444;
    box-sizing: border-box;
}

    #sidebar h2 
    {
        color: #ff1a1a;
        margin-top: 0;
    }

    #sidebar a {
        color: #ff4d4d;
        text-decoration: none;
        font-weight: bold;
    }

#main-content 
{
    width: 73%;
    float: right;
    padding: 10px;
    box-sizing: border-box;
}

.entry 
{
    border: 2px solid #ff1a1a;
    background-color: #1e1e1e;
    margin-bottom: 15px;
    padding: 10px;
    overflow: auto;
}

    .entry h3 
    {
        color: #ff3333;
        font-weight: bold;
        margin-top: 0;
    }

.date 
{
    font-weight: bold;
    color: #ff4d4d;
}

.entry p 
{
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.entry-img 
{
    float: right;
    width: 160px;
    height: auto;
    margin-left: 15px;
    border: 1px solid #555;
    border-radius: 5px;
}

#container::after
{
    content: "";
    display: block;
    clear: both;
}

ul 
{
    list-style-type: none;
    padding-left: 0;
}

li
{
    margin-bottom: 8px;
}
